%li.comment
  %strong= comment.user.username
  %em.date
    = l comment.created_at, :format => :both
  %br
  %p.content
    =comment.body
  %ul.controls
  -# if can? :update, comment
    %li= link_to t(:edit), edit_comment_path(comment)
  - if can? :destroy, comment
    %li= link_to t(:delete), comment, :confirm => t(:confirm), :method => :delete

